@using QEQ.Models
@{
    ViewBag.Title = "ABMCar";
}

<br />
<br />
<br />
<table>

    <tr>
        <th width="250">Nombre</th>
        <th width="250"></th>
        <th width="250"></th>
        <th width="250"></th>
    </tr>
    @{
        foreach (Caracteristicas cara in ViewBag.ListCara)
        {
    <tr>
        <td>@cara.Nombre</td>
        <td>@Html.ActionLink("Eliminar", "GestionCaracteristicas", "BackOffice", new { Accion = "Eliminar", id = cara.id }, null)</td>
        <td>@Html.ActionLink("Modificar", "GestionCaracteristicas", "BackOffice", new { Accion = "Modificar", id = cara.id }, null)</td>
        <td>@Html.ActionLink("Ver", "GestionCaracteristicas", "BackOffice", new { Accion = "Ver", id = cara.id }, null)</td>
    </tr>
        }
    }
</table>

@Html.ActionLink("Insertar una nueva Caracteristica", "GestionCaracteristicas", "BackOffice", new { Accion = "Insertar" }, new { @class = "btn btn-default" })

