@using QEQ.Models
@{
    ViewBag.Title = "ABMPer";
}

<br />
<br />
<br />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<input id="myInput" class="search" type="text" placeholder="     Search..">

<br><br>

<table>
    <tr>
        <th width="250">Nombre</th>
        <th width="250"></th>
        <th width="250"></th>
        <th width="250"></th>
    </tr>
    <tbody id="myTable">

        @{
            foreach (Personajes per in ViewBag.ListPer)
            {
                <tr>
                    <td>@per.Nombre</td>
                    <td>@Html.ActionLink("Eliminar", "GestionPersonajes", "BackOffice", new { Accion = "Eliminar", id = per.id }, null)</td>
                    <td>@Html.ActionLink("Modificar", "GestionPersonajes", "BackOffice", new { Accion = "Modificar", id = per.id }, null)</td>
                    <td>@Html.ActionLink("Ver", "GestionPersonajes", "BackOffice", new { Accion = "Ver", id = per.id }, null)</td>
                </tr>
            }
        }
    </tbody>
</table>


@Html.ActionLink("Insertar un nuevo Personaje", "GestionPersonajes", "BackOffice", new { Accion = "Insertar" }, new { @class = "btn btn-default" })