@{
    ViewBag.Title = "Confirmacion";
}
<br />
<br />
<h2>Tu @ViewBag.Atributo @ViewBag.Nombre se ha @ViewBag.Mensaje exitosamente</h2><br/>

@{
    string AR = @ViewBag.ActionResult;
}
@Html.ActionLink("Volver", @AR, "BackOffice", null, new { @class = "btn btn-default" })