@using QEQ.Models
@model Personajes
@{
    ViewBag.Title = "FormularioPersonajes";
}

<br />
<br />
<br />

@using (Html.BeginForm("ABMPersonajes", "BackOffice", new { Accion = @ViewBag.Accion }, FormMethod.Post))
{
    @Html.HiddenFor(X => X.id)
    <p>Nombre:</p> @Html.TextBoxFor(X => X.Nombre, (object)ViewBag.Enable) @Html.ValidationMessageFor(X => X.Nombre)<br /><br />
    @Html.DropDownListFor(x => x.fkCategoria, new SelectList(ViewBag.ListCate, "id", "Nombre"), (object)ViewBag.Enable)<br /><br />

    <input type="submit" value="Siguiente">
}

