@using QEQ.Models;
@{
    ViewBag.Title = "RelacionCarXPer";
}

<h2>RelacionCarXPer</h2>

<form action="@Url.Action("CarXPer", "BackOffice", new { Accion = ViewBag.Accion})" method="post">
    <input type="hidden" name="idPer" value="@ViewBag.idPersonaje" /><br />
    @foreach (CaracteristicasXPersonaje Car in ViewBag.ListaCar)
    {
            if (ViewBag.ListaCarXPer.Contains(Car.idCaracteristica))
            {
                <input type="checkbox" name="idCar" value=" @Car.idCaracteristica" checked> @Car.Nombre <br />
            }
            else
            {
                <input type="checkbox" name="idCar" value=" @Car.idCaracteristica"> @Car.Nombre <br />
            }

    }
    <input type="submit" value=" Aceptar" />
</form>