@using QEQ.Models

@{
    ViewBag.Title = "Ver";
}
<br />
<br />
<br />

<h3>@ViewBag.Categoria</h3>
<br />

<h2> @ViewBag.Nombre </h2> <br />
<img src="@ViewBag.Imagen"/> <br /> 
@{
    foreach (CaracteristicasXPersonaje C in ViewBag.ListaDeCar)
    {
        <h3> @C.Nombre </h3> <br />
    }
}

@Html.ActionLink("Volver", "ABMPer", "BackOffice", null, new { @class = "btn btn-default" })


